In [2]:
# Pandas

In [3]:
# Data structure
# series
# dataframe

In [4]:
import pandas as pd

In [7]:
x = pd.Series([5,7,8,9,2])
print(x)

0    5
1    7
2    8
3    9
4    2
dtype: int64

In [8]:
x[2:4]

2    8
3    9
dtype: int64

In [ ]:
#loc=> ley index kei kaam garchhaa
#iloc()=> implicit lock
#index deda yesle aafno user index pani store gareko hunchhaa iloc le

In [14]:
y=pd.Series([5,7,8,9],index=['a','b','c','d'])
print(y)

a    5
b    7
c    8
d    9
dtype: int64

In [16]:
y.iloc[1]

np.int64(7)

In [9]:
# .loc()
# .iloc()

In [10]:
x = pd.Series([5,7,8,9,2])
print(x)

0    5
1    7
2    8
3    9
4    2
dtype: int64

In [11]:
x.loc[1]

np.int64(7)

### Dataframe

In [18]:
# tabular data handle garnaa ko lagi dataframe chahenchhaa.

In [19]:
#dictionary bataa dataframe banauna sakenchhaa

In [20]:
 #empty bracket deyo bhane dictionary banchhaa
dis = {
    'roll':4,  #dictionary=> key:values
    'name':'sita',
    'faculty':'DS'
}

In [21]:
# roll, name, faculty => column banchhaa
# 4,sita,DS=>values

In [22]:
# dicyionay ma yeutaa set ko multiple value hunchhaa vaney list banaunu parchhaa

In [23]:
dis = {
    'roll':[4,5,7,9,12], 
    'name':['sita','c','d','e','f'],
    'faculty':['DS','CS','DS','DS','CS']
}

In [24]:
df = pd.DataFrame(dis)
print(df)

   roll  name faculty
0     4  sita      DS
1     5     c      CS
2     7     d      DS
3     9     e      DS
4    12     f      CS

In [26]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.shape #5 row 3 columns

(5, 3)

In [29]:
df.columns

Index(['roll', 'name', 'faculty'], dtype='object')

In [ ]:
data = pd.read_csv('Salary_Data.csv') #file lai load garnaa lako vayeraaa .read-csv